body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}

h1, h2 {
    font-family:  "Open Sans Condensed", "Arial", sans-serif;
}

h2 {
    font-size: 30px;
    clear: both;
}

main {
    float: left;
    width: 85%;
}

main a {
    color: #851944;
}

.content {
    width: 720px;
    text-align: center;
    margin: auto;
    padding: 30px;
    padding-bottom: 80px;
}

.fotoperfil {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 300px
    box-sizing: border-box;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}

.site-navegation{
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    margin-bottom: 25px;
    position: absolute;
    top: 310px;
    right: 0px;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
    box-sizing: border-box;
}

.title-page {
    color: #FFF;
    text-align: center;
    background-color: #851944;
    text-transform: uppercase;
    padding: 25px;
    border-bottom: 10px solid black;
    margin: 0;
    font-size: 60px;
}

strong {
    font-weight: bold; 
}

em {
    font-style: italic;
}

p {
    text-align: justify; 
    margin: 20px 0px;
}

.footer-page {
    background-color: #000;
    color: #FFF;
    padding: 8px;
    clear: both;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

aside h1 {
    font-size: 30px;
    
    
}

.social-network a {
    display: inline-block;
    color: transparent;
    width: 40px;
    height: 40px;
}

.github {
    background-image: url(../img/github.png);
}

.twitter {
    background-image: url(../img/twitter.png);
}

.linkedin {
    background-image: url(../img/linkedin.png);
}

nav a {
    color: inherit;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    padding-left: 25px;
    text-decoration: none;
}

.icons_social li {
    display: inline-block;
}



